@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
    scroll-behavior: smooth;
  }

p.no-span {
    display: table;
    white-space: nowrap;
    &:before, &:after {
      border-top: 1px solid rgb(0, 0, 0);
      content: '';
      display: table-cell;
      position: relative;
      top: 0.85em;
      width: 45%;
    }
    &:before { right: 1.5%; }
    &:after { left: 1.5%; }
}

.shape-1 {
    width: 400px;
    height: 400px;
    background: linear-gradient(64.00916346799386deg, rgb(165, 182, 241) 23.44140625%,rgb(165, 182, 241) 23.44140625%,rgb(233, 239, 255) 79.84765625%);
    animation: wave 4.0s ease-in-out infinite;
    width: 300px;
    height: 300px;
      position: absolute;
      top: 100px;
      left: -150px;
      opacity: .5;
      z-index: -1;
    }

.shape-2 {
        width: 400px;
        height: 400px;
        background: linear-gradient(64.00916346799386deg, rgb(165, 182, 241) 23.44140625%,rgb(165, 182, 241) 23.44140625%,rgb(233, 239, 255) 79.84765625%);
        animation: wave 4.0s ease-in-out infinite;
        width: 300px;
        height: 300px;
          position: absolute;
          top: -50px;
          right: -150px;
          opacity: .5;
          z-index: -1;
          transform: rotate(180deg);
        }

  @keyframes wave {
    0%, 100% {
      border-radius: 70% 30% 72% 28% / 27% 61% 39% 73%;
    }
    50% {
      border-radius: 77% 23% 54% 46% / 40% 38% 62% 60%;
    }
  }

  progress {
    position: fixed;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border: none;
    background: transparent;
    z-index: 5;
  }

  progress::-webkit-progress-bar {
    background: transparent;
  }

  progress::-webkit-progress-value {
    background: linear-gradient(to left, rgb(141, 161, 233), rgb(110, 137, 233), rgb(187, 200, 248), rgb(151, 173, 255));
    background-attachment: fixed;
  }
  
  progress::-moz-progress-bar {
    background: linear-gradient(to left, rgb(175, 192, 255), rgb(180, 196, 253), rgb(187, 200, 248), rgb(151, 173, 255));
    background-attachment: fixed;
  }

  #questions-title-container{
    background: linear-gradient(230deg, rgb(175, 192, 255), rgb(180, 196, 253), rgb(187, 200, 248), rgb(151, 173, 255));
    border-radius: 15px;
  }

  .my-7 {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }

  .question-number {
    width: 50% !important;
  }

  html::-webkit-scrollbar {
    display: none;
  }